* {
    box-sizing: border-box;
}

.dashboard {
    display: grid;
}

.main_Container {
    display: grid;
    grid-template-columns: 260px 1fr;
    grid-template-rows: 40px 1fr;
    grid-template-areas:
        "header header"
        "sidebar chat";
}

.header_Container {
    grid-area: header;
    z-index: 1;
}

.sidebar_Dashboard {
    grid-area: sidebar;
}

.chat_Dashboard {
    grid-area: chat;
}