.msg {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    z-index: 200;
    border-radius: 50%;
}

.msg_text_error,
.msg_text_success {
    padding: 10px 20px;
    animation: fade-out 4s forwards;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.msg_text_error {
    background-color: rgb(112, 2, 2);
    color: white;
}

.msg_text_success {
    background-color: #1264A3;
    color: white;
}