.handShake {
    display: grid;
    place-content: center;
    padding-top: 25vh;
    color: white;
    background-color: #4A154B;
}

.welcomeBack {
    display: flex;
}

.hand {
    font-size: 5rem;
    animation: wave 1s;
    animation-delay: 1s;
    transform: rotate(-25deg);
}

.handText {
    font-size: 3rem;
    margin-top: 1.75rem;
    margin-left: 1rem;
    letter-spacing: 1px;
}

@keyframes wave {
    0% {
        transform: rotate(-25deg);
    }

    25% {
        transform: rotate(-25deg);
    }

    50% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-25deg);
    }
}