@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Poppins:wght@500&family=Roboto:wght@100;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.home {
    min-height: 100vh;
    color: white;
    background-color: #4A154B;
}

.section {
    color: white;
    background-color: #4A154B;
    padding-bottom: 10rem;
}