::-webkit-scrollbar {
    width: 10px;
    background: #b38deb;
    border-radius: 15px;
}

::-webkit-scrollbar-track {
    margin-block: .5em;
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: linear-gradient(to bottom, #14101A, #6715EB);
}

::-webkit-scrollbar-thumb:hover {
    background: #201236;
}