@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Poppins:wght@500&family=Roboto:wght@100;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.static-links li:hover {
  border-bottom: 1px solid white;
}

.hand {
  transform: rotate(-25deg);
  animation: wave 1s;
  animation-delay: 1s;
}

@keyframes wave {
  0% {
    transform: rotate(-25deg);
  }

  25% {
    transform: rotate(-25deg);
  }

  50% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-25deg);
  }
}

#hand-icon {
  transition: 0.25s ease-in forwards;
  animation: fill 0.5s ease-in-out forwards 0.5s;
}

@keyframes fill {
  from {
    fill: none;
  }

  to {
    fill: #B2856A;
  }
}

#hand-icon path:nth-child(1) {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: line-animation 2s ease-in-out forwards;
}

@keyframes line-animation {
  to {
    stroke-dashoffset: 1;
  }
}

.custom-shape-divider-bottom-1645435805 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1645435805 svg {
  position: relative;
  display: block;
  width: calc(143% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1645435805 .shape-fill {
  fill: #FFFFFF;
}

@media screen and (max-width: 500px) {
  .custom-shape-divider-bottom-1645435805 {
    position: sticky;
  }
}