* {
  box-sizing: border-box;
}

.dashboard {
  display: grid;
  background-color: #1A1D21;
  color: white;
}

.main-Container {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 40px 1fr;
  grid-template-areas:
    "header header"
    "sidebar chat";
}

.header-Container {
  grid-area: header;
  z-index: 1;
}

.sidebar-Dashboard {
  grid-area: sidebar;
}

.chat-Dashboard {
  grid-area: chat;
}