.section_Top_Text {
    display: grid;
    margin-top: 5rem;
    margin-left: 25vw;
}

.section_H1 {
    font-size: 3rem;
}

/* Section Container */

.section_Container {
    padding-top: 5rem;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}

.section_Container_Two {
    padding-top: 25vh;
    display: grid;
    place-content: center;
    left: 25%;
}

/* Section Card */

.section_Card {
    margin: 0 auto;
    width: 25vw;
    height: 200px;
    background-color: white;
    border-radius: 10px;
}

.section_Card_Two {
    width: 50vw;
    height: 300px;
    background-color: white;
}