.section_Top_Text {
    display: grid;
    margin-top: 5rem;
    margin-left: 25vw;
}

.section_H1 {
    font-size: 3rem;
}

/* Section Container */

.section_Container {
    padding-top: 5rem;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}

/* Section Card */

.section_Card {
    margin: 0 auto;
    width: 25vw;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    border: 5px solid #6E446F;
}